<div class="space-y-4">
    <input class="w-full px-3 py-2 border border-gray-300 rounded-md" type="text" placeholder="Enter text here">

    <div class="flex space-x-4">
        <button class="px-4 py-2 bg-amp-blue-400 text-white rounded-md amp-tracking" type="submit">Button 1</button>
        <button class="px-4 py-2 bg-amp-dark-teal-400 text-white rounded-md" type="button">Button 2</button>
        <button class="px-4 py-2 bg-amp-pink-300 text-white rounded-md" type="button">Button 3</button>
    </div>
</div>