<section class="h-96 py-20 relative overflow-hidden bg-amp-blue-950 block hero">
    <div class="container mx-auto px-4 flex flex-col">
        <div class="max-w-3xl mx-auto">
            <h1 class="text-5xl font-light mb-6 mx-auto text-center font-[Gellix]">Amplitude Documentation</h1>
        </div>
        <div class="mx-auto">
            <div class="w-[42rem] border border-amp-gray-200 rounded-full bg-amp-gray-50 p-[.7rem] italic relative text-amp-gray-500 cursor-pointer hover:bg-white transition-colors">
                {{svg src="/assets/general/icon-search.svg" class="inline"}}
                <p class="m-0 inline">Search 'instrumentation' , 'Export API'</p>
                <div class="absolute right-4 inline">
                    <kbd>⌘</kbd>
                    <kbd>K</kbd>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-16 px-6 lg:px-12">
    <div class="max-w-screen-2xl mx-auto">
        <h2 class="font-light mt-0 font-[Gellix]">Browse by product</h2>
        <div class="flex justify-between gap-4 flex-wrap flex-col sm:flex-row">
            {{products}}
            <a href="{{section_link:url}}">
            <div class="w-72 h-[22rem] border rounded border-amp-gray-100 p-9 hover:shadow-lg transition-shadow">
                <h3 class="mt-0 font-medium text-[18px]">{{product_name}}</h3>
                <img class="mb-0" src="{{product_icon}}" />
                <p class="leading-6 mb-0 font-normal text-amp-gray-600">{{product_description}}</p>
            </div>
        </a>
            {{/products}}
            </div>
    </div>

</section>
<section class="bg-amp-gray-50 py-16 px-6 lg:px-12 popcon">
    <div class="max-w-screen-2xl mx-auto">
        <h2 class="font-light mt-0 font-[Gellix]">Popular content</h2>
        <div class="grid grid-cols-1 grid-rows-1 lg:grid-cols-3 lg:grid-rows-3 gap-4">
            {{popular_content}}
            <a class="no-underline" href="{{article:url}}">
            <div class="bg-white h-max xl:h-32 border rounded border-amp-gray-100 flex flex-row hover:shadow-lg transition-shadow">
                <div class="self-center px-4 w-1/5">
                    {{svg :src="icon" class="my-0 px-2 w-16"}}
                </div>
                <div class="flex flex-col py-4">
                    <h4 class="mt-0">{{article:title}}</h4 class="mt-0">
                    <p class="text-amp-gray-600 mb-0 leading-6">{{ article:description ?? blurb}}</p>
                </div>
    
            </div>
            </a>
            {{/popular_content}}
        </div>
    </div>


</section>
<section>
    {{partial:site-footer}}

</section>



